body {
    background-color: #ccc;
    font-family: arial,sans-serif;
}

section {
    background-color: #fff;
    width: 400px;
    height: 400px;
    margin: 50px auto;
    border-radius: 10px;
    color: #555;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

section, h4 {
	text-align: center;
    font-size: 25px;
}
form {
    margin: 30px 0;
}

form label {
  margin-bottom: 18px;
  display: block;
  font-size: 15px;
  color: #555;
}

form input {
    width: 80%;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
    height: 30px;
    padding: 5px 13px;
    border: none;
    background: rgba(204, 204, 204, 0.349);
}
form, input::placeholder{
    color: #444;
}

button {
    width: 80%;
    display: block;
    margin: 25px auto;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: rgb(25, 58, 92);
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
button:hover{
    background:  rgb(35, 80, 126) ;
}