body {
    background-color: #ccc;
    font-family: arial,sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

section {
    background-color: #fff;
    width: 400px;
    border-radius: 10px;
    color: #555;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 8px;
    box-shadow: 0px 0px 10px lightgrey;
}

section {
	text-align: center;
}

form {
    margin: 30px 0;
}

form label {
  margin-bottom: 18px;
  display: block;
  color: #555;
}

form input {
    width: 80%;
    display: block;
    border-radius: 10px;
    height: 30px;
    text-transform: uppercase;
    padding: 5px 13px;
    border: none;
    background: rgba(204, 204, 204, 0.349);
}
form, input::placeholder{
    color: #444;
}
