* {
  box-sizing: border-box;
}

body {
  height: 85vh;
  display: flex;
  margin: 2rem;
  flex-direction: column;
  justify-content: center;
  background: rgb(39, 233, 217);
  font: normal 15pt arial;
}

.initial{
  width: 400px;
  height: 400px;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(219, 219, 219);
  border-radius: 20px;
  perspective: 1000px;
  color:rgb(34, 0, 114) ;
}
.final{
  width: 400px;
  height: 400px;
  margin:auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(219, 219, 219);
  border-radius: 20px;
  perspective: 1000px;
  color:rgb(34, 0, 114) ;
}

.start{
  margin: 1rem auto;
}

.timer{
  text-align: center;
  display: none;
  margin: 20px auto;
  color: #fff;
}

button{
  height: 30px;
  width: 150px;
  margin-top: 20px;
  color: #fff;
  border: none;
  border-radius: 20px;
  background-color: rgb(34, 0, 114);
  cursor: pointer;
}

button:hover{
  background-color: rgba(34, 0, 114, 0.904);
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: none;
  flex-wrap: wrap;
  background-color: rgb(219, 219, 219);
  padding: 10px;
  border-radius: 20px;
  perspective: 1000px;
}

.scene{
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  border-radius: 20px;
  margin: 5px;
  background-color: rgb(228, 228, 228);
}

.cards {
  width: calc(100% );
  height: calc(100% );
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 1s;
  cursor: pointer;
  position: relative;
  background: rgb(34, 0, 114);
  border-radius: 20px;
}




.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  border-radius: 20px;
  backface-visibility: hidden;
  padding: 20px;

}

.front-face {
  transform: rotateY(180deg);
}
.cards.flip {
  transform: rotateY(180deg);
}


.cards.flip {
  transform: rotateY(180deg);
}
p{
  color: #333;
    text-align: center;
    font-style: italic;
    font-size: 13px;
    margin-top: 2.8rem;
}
h2{
  font-size: 20px;
  color: #333;
}
h3{
  font-size: 18px;
  color: #444;
}