
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Oswald&display=swap');

body{
    background: #CCB8D5;
    color: #fff;
    font: normal 50pt Arial;
    text-align: center;
    height: 100vh;
    margin: 0;
    
   
}
h1{
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    font-size: 120px;
    line-height: 120px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    margin: 0;
    padding: 0;
}
h2{
    color: #65088C;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.8px;
    margin: 0;

}
h3{
    font-family: 'Kanit', sans-serif;
    color: rgba(255, 255, 255, 0.62);
    font-size: 20px;
    font-weight: 300;
    
}


 #text .btn-get-started {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 3px;
    text-decoration:none; 
    display: inline-block;
    width: 250px;
    text-align: center;
    padding: 10px ;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #text .btn-get-started:hover {
    background: #5EF2C8;
    border: 2px solid #5EF2C8;
  }

div.row{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    text-align: center; 
}

div#text, div#image{
    width: 50%;
    
}

div#text{
    text-align: left;
    margin: 5rem 5rem 0rem 5rem ;
}

div#image{
    position: relative;
}

img{
    max-height: 100vh;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    
}