* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #373266;
    color: white;
    margin: 2rem;
}

.container {
    text-align: center;
    margin-top: 2rem;
}

.title {
    color: #d6d5ac;
}

p{
    margin: 10px;
}
label {
    display: block;
    font-size: 20px;
    margin: 10px;
}

input {
    margin-bottom: 25px;
}

input[type="text"]{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

.box {
    height:100px;
    width: 100%;
    background-color: #c6d5ac;
    margin-bottom: 25px;
    border-radius: 5px;
}

.toggle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-text {
    font-size: 18px;
}

.toggle-btn {
    height: 30px;
    width: 60px;
    background-color: gray;
    border-radius: 30px;
    padding: 5px;
    margin: 0 10px;
}

.inner-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: all 250ms;
}

.toggle-btn.toggled > .inner-circle {
    transform: translateX(30px);
    background-color: #333;
}

.unselected {
    opacity: 0.25;
}