body{
    background: #F2F2F2;
    font: normal 15pt Arial;
}

#header{
    width: 400px;
    margin: auto;
    text-align: center;
}
#header h1{
    text-align: center;
    color: #BF2431 ;
}

#container{
    background : #F2D5D5;
    border-radius :10px;
    width:400px;
    margin:20px auto;
    padding:20px;
    text-align:center;
    
  }

  
  #timer{ 
    color: #fff; 
    font-size:50px; 
    margin:10px auto;
    border : 5px solid #fff;
    border-radius:50%;
    width:200px;
    height:200px;
    cursor:default;
  }
  
  #time{
    margin-top:70px;
    z-index : 1;
    position:relative;
  }
  #minutes input { 
    background: #ffffffb2 ;
    border: none;
    color:#F25C5C; 
    cursor:pointer; 
    padding:5px; 
    width:90px; 
    margin:10px auto;
    font-size:14px;
    height : 50px;
    border-radius : 10px;
    text-align: center;
  }

#minutes input::placeholder{
  color: #F25C5C;
  font-size: 20px;
  text-align: center;
}
  #buttons button { 
    background:#A9BF5A; 
    border: none;
    color:#fff; 
    cursor:pointer; 
    padding:5px; 
    width:90px; 
    margin:10px auto;
    font-size:14px;
    height : 50px;
    border-radius : 10px;
  }

  #buttons button:hover{
      background: #a9bf5a86;
  }

 #buttons button#start{
   display: none;
 }
 #buttons button#refresh{
  display: none;
}
  #buttons button#stop{
    background : #F25C5C;
    display: none
    ;
  }
  #buttons button#stop:hover{
    background : #f25c5c80;
    ;
  }